<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home page</title>
     <link rel="stylesheet" href="../static/css/home.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     
      <div class="row m-0 d-flex justify-content-center  navigation-bar">

          <div class="col-xl-10 col-sm-12 navigation-bar-box">
              
               <div class="row navigation-bar-box-row m-0">

                    <div class="col-3">
                         <div class="starter">
                              <img src="https://fooderos.com/assets/icons/fooderos_logo.svg" alt="">
                         </div>
                         <div class="starter mobile">
                              <img src="https://fooderos.com/assets/icons/mobile_logo.svg" alt="">
                         </div>
                         
                    </div>

                    <div class="col-4 col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
                         <div class="search-box">
                              <input placeholder="Search meal:" class="form-control search-box-input" type="search">
                         </div>
                    </div>

                    <div class="col-4 col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2">
                       <div class="navbar-operations">

                         <div class="user">
                              <i class="fa-solid fa-user"></i>
                              <div>Giriş</div>
                         </div>

                         <div class="basket">
                              <i class="fa-solid fa-cart-shopping"></i>
                              <div>Səbət</div>
                         </div>

                       </div>  

                       <div class="navbar-operations mobile">

                         <div class="user">
                              <i class="fa-solid fa-user"></i>
                              
                         </div>

                         <div class="basket">
                              <i class="fa-solid fa-cart-shopping"></i>
                         </div>

                       </div>  

                    </div>



               </div>

          </div>

      </div>


     <script src="../static/js/home.js"></script>
</body>
</html>